{{ define "create_account.layout" }}

{{template "navbar" . }}
{{ template "create_account.content" . }}

{{ end }}
{{ define "create_account.content" }}

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><img src="assets/img/logo.png">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Online Ticket Store</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><button class="btn btn-primary" type="button">Create an account</button></div><br>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><small>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</small><input type="text"></div><br>
            </div>
            <div class="row">
                <div class="col-md-12"><small>Email &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small><input type="text"></div><br>
                <div class="col-md-12"><small>Phone number&nbsp;</small><input type="tel"></div><br>
                <div class="col-md-12"><small>Password &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small><input type="password"></div><br>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <form action="/confirm" method="POST" enctype="multipart/form-data">
            <input type="submit" value="CONFIRM"><br>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

{{ end }}