{{ define "signin.layout" }}

{{template "navbar" . }}
{{ template "signin.content" . }}

{{ end }}

{{ define "signin.content" }}
<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><img src="assets/img/logo.png">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Online Ticket Store</h1>
                        <p class="text-center"> </p>
                    </div>
                    <div class="text">
                        <p></p>
                        <figure></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email/username"></div><br>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div><br>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" href="manage_event.html">Log In</button></div>
            
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

{{ end }}