{{ define "home.layout" }}

{{template "navbar" . }}
{{ template "home.content" . }}

{{ end }}
{{ define "home.content" }}

<body>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center"><img src="assets/img/Screenshot%20(148).png">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Online Ticket Store</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <form action="/confirm" method="POST" enctype="multipart/form-data">
                <input type="submit" value="HOME">
                </form><BR>
            <form action="/confirm" method="POST" enctype="multipart/form-data">
                <input type="submit" value="EVENT">
                </form><BR>
            <form action="/confirm" method="POST" enctype="multipart/form-data">
                <input type="submit" value="ABOUT US">
                </form><BR> 
                <form action="/confirm" method="POST" enctype="multipart/form-data">
                <input type="submit" value="CONTACT US">
                </form><BR>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><iframe allowfullscreen="" frameborder="0" width="560" height="315" ></iframe></div>
            </div>
            <div class="row">
                <div class="col-md-12"><button class="btn btn-primary" type="button">Create an account</button></div>
                <div class="col-md-12"><a href="#">&nbsp; &nbsp; &nbsp; &nbsp;have an account</a></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>

{{ end }}